#binaries
mkassets
proxima5

#generated assets
l-level1.go
s-alien1.go
s-blastwave.go
s-bullet.go
s-cavern1.go
s-complete.go
s-exhaust.go
s-explosion.go
s-gameover.go
s-gantry.go
s-hfence.go
s-pad.go
s-press.go
s-ship.go
s-smexplosion.go
s-thrust.go
s-tinyexplosion.go

#default golang git ignore
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

build/
.vscode/